@model System.Collections.Generic.IEnumerable<GetHired.DTO.JobOfferModel>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobOfferRating)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobOfferRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
        </td>
    </tr>
    }

</table>